*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #1e1d29;
  --grad: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: var(--grad);
  border-radius: 1rem;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  /* transition: scroll-snap-align 0.25s ease-in; */
}

.jumbotron {
  min-height: 100vh;
  background-color: #e9ecef;
  display: flex;
  padding: 5rem;
  align-items: center;
  color: var(--text);
  z-index: -1;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  /* height: 100%; */
  width: 60%;
  margin: 0 auto;
}

.welcome-svg {
  width: 30vw;
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.2));
}

.welcome-title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.welcome-title span {
  background-image: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.btns {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  border: 2px solid transparent;
  border-image: var(--grad);
  background-image: var(--grad);
  padding: 0.5rem 1.8rem;
  border-image-slice: 1;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  color: transparent;
  font-size: 1.3rem;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  background-image: var(--grad);
  /* z-index: -1; */
  border-image-slice: 1 fill;
  color: white;

  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

/* about--------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: var(--grad);
  /* text-align: center; */
  padding: 2rem 1rem;
}

.about h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;

  /* letter-spacing: 2px; */
}

.profile-pic {
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.profile-desc {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-link-menu {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  align-items: center;
  list-style: none;
}

.profile-links {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.profle-itmes:hover {
  transition: transform 0.1s ease-in;
  transform: scale(1.2, 1.2);
}

/* projects-------------------------------------------------------------------------------- */

.projects {
  background-color: #d2dbad;
  height: auto;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.project-heading {
  font-size: 3em;
  padding: 3rem 0rem 1rem 0rem;
}
.projects-cards {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0 2rem 0;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.project-desc {
  width: 30%;
}

.project-img {
  max-width: 100%;
  min-width: 50vw;
  max-height: 50vh;
  object-fit: cover;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.project-img:hover {
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  transition: transform 0.5s cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.5s;
}
.project-name {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.project-desc > p {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

/* footer--------------------------------------------------- */

.wrapper {
  background-color: #d2dbad;
}

.clip-div {
  height: 40vh;
  width: 100%;
  background-image: var(--grad);
  /* margin-top: -2rem; */
  clip-path: polygon(0 70%, 100% 20%, 100% 100%, 0 100%);
}

.footer {
  height: 20vh;
  width: 100%;
  background-color: #292e46;
  text-align: center;
}
.top {
  height: 5vh;
  display: inline-block;
  margin: 1rem 0 2rem 0;
}

.top a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.top:hover {
  transform: scale(1.2, 1.2);
}
